@charset "utf-8";

h2 {
	text-align: center;
	font-size: 1.4rem;
	font-weight: 600;
}

p {
	text-align: center;
	font-size: 1.2rem;
	margin: 10px 0;
}

form {
	text-align: center;
}

input {
	height: 30px;
	margin: 10px 0;
}
select {
	height: 30px;
}

a {
	text-align: center;
	font-size: 1.2rem;
}

.a {
	margin: 0 auto;
}

@media only screen and (min-width: 769px) {
	input {
		width: 10%;
		height: 30px;
		margin: 10px 0;
	}
	select {
		width: 20%;
		height: 30px;
	}
}
