@charset "utf-8";

.image-wrapper {
	text-align: center;
}

.product-detail-wrapper {
	width: 230px;
	margin: 20px auto;
	text-align: center;
}

p {
	font-size: 1.8rem;
	margin: 10px 0;
}

.price-calolie-wrapper {
	display: flex;
	justify-content: space-around;;
}

.form-button-wrapper {
	width: 100%;
	margin: 20px auto;
}

.btn {
	background: none;
	border: none;
	color: #660000;
}

.num-area {
	width: 50px;
	font-size: 2.4rem;
	text-align: center;
	margin: -10px 20px 0;

}
.products-wrapper {
	width: 100%;
	margin: 30px 30px 0 0;
	overflow-x: auto;
}
.products-wrapper ul {
	line-height: 40px;
	list-style: none;
	padding: 0;
}
.products-wrapper ul li {
	width: 90%; /* メニューの個別の幅 */
	margin: 0 auto;
	padding: 20px 0;
	border: solid 1px #fff;
	border-radius: 10px;
	background: #fff;
	text-align: center;
}
.products-wrapper ul li a {
	display: inline-block;
	width: 100%;
	color: #333; /* メニューの文字色 */
	text-decoration: none;
}
img {
	border: solid 1px #555;
	border-radius: 5px;
}

@media only screen and (min-width: 769px) {
	p {
		font-size: 2.2rem;
		margin: 5px 0;
	}
	.products-wrapper {
		width: 80%;
		margin: 20px auto;
		overflow-x: auto;
	}
	img {
		width: 300px;
		height: 300px;
	}
	.button {
		display       : inline-block;
		border-radius : 50%;          /* 角丸       */
		font-size     : 13pt;        /* 文字サイズ */
		text-align    : center;      /* 文字位置   */
		cursor        : pointer;     /* カーソル   */
		padding       : 17px 32px;   /* 余白       */
		background    : #000055;     /* 背景色     */
		color         : #ffffff;     /* 文字色     */
		line-height   : 1em;         /* 1行の高さ  */
		transition    : .3s;         /* なめらか変化 */
		box-shadow    : 2px 2px 9px #666666;  /* 影の設定 */
		border        : 2px solid #000055;    /* 枠の指定 */
		margin-top    : 0;
	}

}