@charset "utf-8";


html {
	font-size: 62.5%;
}

body {
	max-width: 1000px;
	font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
	box-sizing: border-box;
}

.header {
	width: 100%;
}

.header-wrapper {
	position: relative;
}

h6 {
	font-size: 2.6rem;
	font-weight: bold;
	color: #660000;
	font-family: "Hannari";
	position: relative;
	padding: 0.25em 0;
}
h6:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
  background: linear-gradient(to right, rgb(230, 90, 90), transparent);
}

.nav {
	font-size: 1.1rem;
}

.drawer {
	position: absolute;
	top: 2px;
	right: 22px;
}

.drawer-list {
	list-style: none;
	text-align: center;
	padding: 0;
	margin-top: 30px;
}

.drawer-item {
	margin: 10px 0;
}
/* チェックボックスは非表示に */
.drawer-hidden {
	display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer-open {
	display: flex;
	height: 40px;
	width: 40px;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 100;/* 重なり順を一番上に */
	cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
	content: '';
	display: block;
	height: 3px;
	width: 25px;
	border-radius: 3px;
	background: #333;
	transition: 0.5s;
	position: absolute;
}

/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
	bottom: 9px;
}

/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
	top: 9px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
	background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
	bottom: 0;
	transform: rotate(45deg);
}

#drawer-check:checked ~ .drawer-open span::after {
	top: 0;
	transform: rotate(-45deg);
}

/* メニューのデザイン*/
.drawer-content {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 100%;/* メニューを画面の外に飛ばす */
	z-index: 99;
	background: #fff;
	transition: .5s;
	font-size: 2.2rem;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
	left: 0;/* メニューを画面に入れる */
}


img {
  width: 250px;
  height: 250px;
  object-fit: cover; /* この一行を追加するだけ！ */
}

.main{
	background-color: #ffbf1f;
}


.redbutton {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 13pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 7px 9px;   /* 余白       */
  background    : #ff0000;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 0.9;         /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
}
.redbutton:hover {
  opacity       : 1;           /* カーソル時透明度 */
}

.button {
  display       : inline-block;
  border-radius : 50%;          /* 角丸       */
  font-size     : 13pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 17px 32px;   /* 余白       */
  background    : #000055;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 2px 2px 9px #666666;  /* 影の設定 */
  border        : 2px solid #000055;    /* 枠の指定 */
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000055;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}
.button_wrapper{
   text-align:center;

   padding: 32px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #000;

}
.menuimg {
  border: dashed 1px silver;
  width: 280px;
  height: 250px;
  object-fit: cover;

}

.center {
	padding: 30px;
	margin: 30px;
	width: auto;
 	height: auto;

}
